<a href="{{ path('sharebuttons_share', {'url': app.request.uri|url_encode, 'share': share}) }}" onclick="sharePopup(this.href); return false;" class="btn btn-{{ size }} btn-share btn-{{ share }}" title="{{ share|capitalize }}" role="button">
    <span class="fa-fw {{ icon }}"></span>
</a>