{% set urlFinal = app.request.uri %}
{% if url != null %}
    {% set urlFinal = url %}
{% endif %}
<style>.btn-{{ share }}{background-color:{{ color }};}</style>
<a href="{{ path('sharebuttons_share', {'url': urlFinal|url_encode, 'share': share}) }}" onclick="sharePopup(this.href); return false;" class="btn btn-{{ size }} btn-share btn-{{ share }}" title="{{ share|capitalize }}" role="button" rel="nofollow">
    {% if displayIcon == true %}
        <span class="fa-fw {{ icon }}"></span>
    {% endif %}
    {% if displayText == true %}
        {{ share|capitalize}}
    {% endif %}
</a>