<style>.btn-{{ share }}{background-color:{{ color }}; margin: 0 !important;}</style>
<a href="{{ path('sharebuttons_share', {'url': url|url_encode, 'share': share}) }}" onclick="sharePopup(this.href); return false;" class="btn btn-{{ size }} btn-share btn-{{ share }}" title="{{ share|capitalize }}" role="button" rel="nofollow">
    {% if displayIcon == true %}
        <span class="fa-fw {{ icon }}"></span>
    {% endif %}
    {% if displayText == true %}
        {{ share|capitalize}}
    {% endif %}
</a>